extends board-layout

block boardContent
  h1 Become a member

  if currentUser.isMember
    div.text-success Congratulations, you are now a member.
  else

    if errors
      ul
        each error in errors
          li.text-danger!= error.msg
    
    form(method='POST' action='')
      div.mb-4.mt-4
        label.form-label(for="code") Secret code:
        input.form-control(id="code" name="code" value=(undefined===code ? '' : code))
      button.btn.btn-primary(type='submit') Submit